.loading-circular {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: var(--v-layout-top);
   right: 0;
   width: calc(100vw - var(--v-layout-left));
   height: calc(100vh - var(--v-layout-top));
   z-index: 2000;
   pointer-events: none;
}

.search-bar {
   border-radius: 8px;
   padding: 6px;
}
.search-bar :deep(.search-filter) {
   max-width: 180px;
   font-weight: 800;
   letter-spacing: normal;
}

:deep(.search-bar) .search-btn {
   min-width: 40px;
   height: 40px;
   padding: 0 !important;
}

.search-bar :deep(.v-field) {
   font-size: 13px;
   color: rgb(var(--v-theme-on-background));
}
